<footer>
    <br />
    <br />
    <p>
        VividSphere Innovations 
       
    </p>
    <br>
    <div class="social-icons">
        <a href="https://github.com/kennethjanoras/djangoFinals" target="_blank" class="icon-link"><i class="fab fa-github"></i>
        </a>
        <a href="https://www.facebook.com/kenneth.janoras.3?mibextid=ZbWKwL" target="_blank" class="icon-link"><i class="fab fa-facebook"></i>
        </a>
        <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2Fmadeby_kenneth%3Figsh%3DMXRxbXlnZHpzY2hpYg%253D%253D%26fbclid%3DIwAR27SBicmpyGmfuwMGwaYP1vI2edb4K9wAq1t29GjOkajy9zPDs4A-Uj8II&h=AT3-p6hllfYUPgU_wck0rFZjtb6z5RdQQGg9Lre4TDgpONbQhar-OCm57CUNhDX70v1QLv3HHt-GBURSVwvTuJhFqcMR_ePl1d8-ZrYvqaz5b_KM-rJwGz8536tggGzlQrGCnQ" target="_blank" class="icon-link"><i class="fab fa-instagram"></i>
        </a>
    </div>
    <p>
        &copy; 2023 All Rights Reserved
    </p>