{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
    <title>{% block title %} VividSphere Innovations {% endblock %}</title>
  </head>
  <body>

    <!-- navbar -->
    <section class="navbar">
      <a href="{% url 'home' %}" class="btn" id="active"> Home </a>
      <a href="{% url 'employee-list' %}" class="btn"> Employee </a>
      <a href="{% url 'department-list' %}" class="btn"> Department </a>
      <a href="{% url 'project-list' %}" class="btn"> Project </a>
      <a href="{% url 'task-list' %}" class="btn"> Task </a>
      <a href="{% url 'tasklog-list' %}" class="btn"> Task Log </a>
    </section>

    <!-- Main content of your webpage -->
    <main>
      {% block content %}

      {% endblock%}
    </main>

    {% include 'includes/footer.html' %}

  </body>
</html>